@page "/Despre"
@inject ReviewDbService reviewDbService;
@inject DataBaseContext Context;

<div id="bmain1" class="row background">
    <div class="titleformat displayer mb-3">
        DESPRE
    </div>
    <div class="undertitleformat displayer">
        LASA MAI JOS UN COMENTARIU
    </div>
</div>

<EditForm Model=@review OnValidSubmit="HandleSubmitReview">
    <DataAnnotationsValidator/>
    <label for="ReviewRate">ReviewRate</label>
    <SfRating @bind-Value="@review.ReviewRate" id="ReviewRate" Precision="PrecisionType.Half" ShowLabel=true LabelPosition="LabelPosition.Right"></SfRating>
    <label for="ReviewName">Nume</label>
    <InputText id="ReviewName" placeholder="" @bind-Value="@review.ReviewName"></InputText>
    <ValidationMessage For=@(() => review.ReviewName)/>
    <label for="ReviewDescription">Descriere</label>
    <InputText id="ReviewDescription" placeholder="" @bind-Value="@review.ReviewDescription"></InputText>
    <ValidationMessage For=@(() => review.ReviewDescription) />
    <button type="submit">Create</button>
</EditForm>
@foreach (var program in Context.Reviews)
{
    <div>
        @program.ReviewRate
    </div>
    <div>
        @program.ReviewName
    </div>
    <div>
        @program.ReviewDescription
    </div>
}


@code {
    ReviewModel review = new();
    public void HandleSubmitReview(EditContext editContext)
    {
        var newReview = (ReviewModel)editContext.Model;
        reviewDbService.AddReview(newReview);
        review = new ReviewModel();

    }
}
