@page "/Programare"
@inject ProgramareOnlineDbService programareDbService;

<h3>Programare</h3>

<EditForm Model=@programare OnValidSubmit="HandleSubmitProgramare">
    <SfDatePicker TValue="DateTime" Min="@serviciiProperty.MinDate" Max="serviciiProperty.MaxDate" Placeholder="Alege data" @bind-Value="@programare.ProgramareDateTime"></SfDatePicker>
    <SfTimePicker TValue="DateTime" Min="@serviciiProperty.MinTime" Max="serviciiProperty.MaxTime" Placeholder="Alege ora" @bind-Value=@programare.ProgramareDateTime Format="HH:mm" Step="60"></SfTimePicker>

    <DataAnnotationsValidator/>
    <label for="ProgramareService">Serviciu</label>
    <InputSelect id="ProgramareService" @bind-Value="programare.ProgramareService">
        @foreach (var servicii in serviciiProperty.servicii) 
        {
            <option value="@servicii">@servicii</option>
        }
    </InputSelect>
    <label for="ProgramarePersons">Numar de persoane</label>
    <InputSelect id="ProgramarePersons" @bind-Value="programare.ProgramarePersons">
        @foreach (var persoane in serviciiProperty.persoane)
        {
            <option value="@persoane">@persoane</option>
        }
    </InputSelect>
    <label for="ProgramareTime">Timp</label>
    <InputSelect id="ProgramareTime" @bind-Value="programare.ProgramareTime">
        @foreach (var timp in serviciiProperty.timp)
        {
            <option value="@timp">@timp</option>
        }
    </InputSelect>
    <label for="ProgramareName">Nume</label>
    <InputText id="ProgramareName" placeholder="" @bind-Value="@programare.ProgramareName"></InputText>
    <ValidationMessage For=@(() => programare.ProgramareName) />
    <label for="ProgramareEmail">Email</label>
    <InputText id="ProgramareEmail" placeholder="" @bind-Value="@programare.ProgramareEmail"></InputText>
    <ValidationMessage For=@(() => programare.ProgramareEmail)/>
    <label for="ProgramarePhone">Telefon</label>
    <InputText id="ProgramarePhone" placeholder="" @bind-Value="@programare.ProgramarePhone"></InputText>
    <ValidationMessage For=@(() => programare.ProgramarePhone)/>
    <label for="ProgramareDescription">Descriere</label>
    <InputText id="ProgramareDescription" placeholder="" @bind-Value="@programare.ProgramareDescription"></InputText>
    <ValidationMessage For=@(() => programare.ProgramareDescription) />
    <button type="submit">Create</button>
</EditForm>




@code {
    ServiciiProperty serviciiProperty = new();
    ProgramareOnlineModel programare = new();
    public void HandleSubmitProgramare(EditContext editContext)
    {   
        var newProgramare = (ProgramareOnlineModel)editContext.Model;
        programareDbService.AddProgramare(newProgramare);
    }
}
